{% extends 'base.html' %}

{% block title %}
Add Blog Post 
{% endblock %}


<!-- object_list is query of all blog posts from the data base -->
<!-- next line is a for loop, print them all out individually-->

<!-- MAKING THE TITLE OF EACH BLOG POST LINKABLE WITH THE A HREF TAG -->
<!-- inside of '' is the name of the url we want to point to (look at the urls file) -->
<!-- need post.pk to know which post was clicked, and this post.pk gets passed to <int:pk> in url code-->

{% block content %}


{% if user.is_authenticated %}
    <h1>Add Post </h1>
    <br><br>
    <!-- table option for styling automatically <table>
        <form method = "POST">
            {% csrf_token %}
            <!-- using django form system 
            {{form.as_table}}     <!-- 0 styling on this    
        </form>
    </table>
    <button class = "btn btn-secondary"> Post </button> -->

    <div class = "form-group"> 
        <form method = "POST">
            {% csrf_token %}
            <!-- using django form system -->
            {{form.as_p}}     <!-- 0 styling on this -->    <!-- as p means every field is in a p tag -->
            <button class = "btn btn-secondary"> Post </button>
        </form>
    </div>

    <script>   // in here is the javascript block
        var name = "{{ user.id }}";
        document.getElementById("elder").value = name;
    </script>

<!-- if not logged in, all the edit page is hidden -->
{% else %}
    <h1>Get out of here</h1>

{% endif %}

{% endblock %}


