{% extends 'base.html' %}
{% load static %}

{% block title %}
{{post.title_tag}}
{% endblock %}
<!-- this will be the page displayed when you click the specific blog post  -->

{% block content %}
<!-- current user: {{ user.id }} because we are logged in  -->
<!-- poster: {{ post.author.id }}  -->

<h1>{{post.title}}</h1> 
<small> By: {{post.author.first_name}} {{post.author.last_name}} </small> <br>
<small> Date: {{post.post_date}} </small>

{% if user.is_authenticated %} <!-- first check that they are a valid user aka logged in -->
    {% if user.id == post.author.id %} <!-- then if this post we are looking at was posted by the user logged in -->
        <a href = "{% url 'update-post' post.pk %}"><small>[Edit]</small></a> <a href = "{% url 'delete-post' post.pk %}"><small>[Delete]</small></a>
    {% endif %}
{% endif %}

<hr>

{% if post.header_image  %}
    <img src = "{{ post.header_image.url }}" width = 600 height = 600> <br>
{% endif %}
{{ post.body|safe }}
<hr>

<form action="{% url 'like-post' post.pk%}" method = "POST"}>   <!-- passing post.pk rememebrs which post we are looking at -->
<!-- remember that for all forms we need a csrf token  -->
{% csrf_token %}    

<!-- value = "{{post.id}}" passes the post to the backend to know where to put the like -->

{% if user.is_authenticated %}
    {% if liked %}
        <button type = "submit", name = "post_id", value = "{{post.id}}", class = "btn btn-danger btn-sm">Unlike</button>  
    {% else %}
        <button type = "submit", name = "post_id", value = "{{post.id}}", class = "btn btn-primary btn-sm">Like</button>  
    {% endif %}
{% else %}
You must be logged in to like posts
{% endif %}
<br>
{{total_likes}} Likes
<hr>
</form>

<h3> Comments </h3>
{% if not post.comments.all %} <!-- using related name of comments for our reference to comment model -->
  No comments yet... <a href="{% url 'add-comment' post.pk %} "> Add One </a>
{% else %}
  <!-- looping through comments -->
  <a href = "{% url 'add-comment' post.pk %} ">Add Comment</a>
  <br>
  {% for comment in post.comments.all %}
    <strong> {{ comment.name }} - {{comment.date_added}} </strong>
    <br>
    {{comment.body}}
    <br>
  {% endfor %}
{% endif %} 

<hr>
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
          {% if post.author.profile.profile_pic %}
            <img class="card-img" src="{{post.author.profile.profile_pic.url}}" >
          {% else %}  
            <img class="card-img" src= "{% static 'tutorialblog/images/default.jpg' %}" >
          {% endif %}  
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{post.author.first_name}} {{post.author.last_name}}</h5>
          <p class="small text-muted">
            {% if post.author.profile %}
              <a href = "{% url 'show_profile_page' post.author.profile.id %}"> Profile </a>
            {% endif %}
            {% if post.author.profile.website_url %}
                <a href = "{{post.author.profile.website_url}}"> Website</a>
            {% endif %}
            {% if post.author.profile.fb_url %}
                <a href = "{{post.author.profile.fb_url}}">| Facebook </a>
            {% endif %}
            {% if post.author.profile.insta_url %}
              <a href = "{{post.author.profile.insta_url}}">| Instagram </a>
            {% endif %}
            {% if post.author.profile.twitter_url %}
              <a href = "{{post.author.profile.twitter_url}}">| Twitter </a>
            {% endif %}
         </p>
          <p class="card-text">{{post.author.profile.bio}}</p>
        </div>
      </div>
    </div>
  </div>

<!-- without the class = this is a hyperlink, adding class makes it a bootstrap button  -->
<!-- <a href= "{% url 'home' %}" class = "btn btn-secondary btn-small">Back</a>     -->

{% endblock %}