<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- next 4 lines change the tab title based on the page you are on -->
    <!-- so in each page html, make sure to extend base.html, and to have code between the blocks, in this case block title that you want  -->

    <title> 
    {% block title %}
    {% endblock %}
    </title>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- OG href = '#' but now with this django url clicking on My Freaking Awesome Blog takes us to home page -->
        <a class="navbar-brand" href="{% url 'home' %}"> My Freaking Awesome Blog </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <!-- drop down visible whether you are logged in or not  -->

            <!-- VERY INTERESTING -- this categories drop down is shown on all pages, but look at HomeView class in views.py 
            compared to the other pages views. There is no get context data, so the if a few lines down will result in a blank
            drop down on all pages except home page. if this if cat_menu were above the li drop down, the whole drop down 
            nav bar item would disappear when we dont have categories (or access to them ) -->

            <!-- ugly fix, add that method to all view -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <!-- quick code to get out our categories  -->
                
                {% if cat_menu %} <!-- if we have a category menu, then loop through it -->
                  {% for item in cat_menu %}
                      <!-- {{item}}<br> just printed them out -->
                      <a class="dropdown-item" href="{% url 'category' item %}">{{item}}</a>
                  {% endfor %}
                {% endif %}

                <!-- dumb but catmenu comes from class based, list from function based -->
                {% if cat_menu_list %} <!-- if we have a category menu_list, then loop through it -->
                  {% for item in cat_menu_list %}
                      <!-- {{item}}<br> just printed them out -->
                      <a class="dropdown-item" href="{% url 'category' item %}">{{item}}</a>
                  {% endfor %}
                {% endif %}

                <!-- <a class="dropdown-item" href="#">Action</a>      old hardcoded drop downs
                <a class="dropdown-item" href="#">Another action</a> -->
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'category-list' %}">Category List</a>
            </li>
            <!-- SUPER IMPORTANT LOOK AT THIS CODE -->
            <!-- this is where we add in django code to change if user is logged in or not -->
            {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-post' %}">Add Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add-category' %}">Add Category</a>
                </li>
            {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
          </ul>


            <ul class = "navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <!-- IMPORTANT NOTE: remember in original urls.py file (project wide) the django.contrib.auth.urls has login as one of those built in login urls for us -->
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello, {{user.first_name}}!</a>  
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Settings</a> 
                    {% if user.profile.id %}
                      <a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a>
                      <a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a>
                    {% else %}
                      <a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile Page</a>
                    {% endif %}
                      <!-- IMPORTANT NOTE: remember in original urls.py file (project wide) the django.contrib.auth.urls has login as one of those built in login urls for us -->
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>  
                  </div>
                </li>
              {% else %}
                <li class="nav-item">
                  <!-- IMPORTANT NOTE: remember in original urls.py file (project wide) the django.contrib.auth.urls has login as one of those built in login urls for us -->
                  <a class="nav-link" href="{% url 'login' %}">Login</a>  
                </li>
              {% endif %}
          </ul>
        </div>
      </nav>










      <!-- below is where any webpage content will be displayed here -->
      <br>
      <div class = "container"> 
        {% block content %}
        {% endblock %}  
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>