{% extends 'base.html' %}

{% block title %}
The {{cats}} Category
{% endblock %}


<!-- object_list is query of all blog posts from the data base -->
<!-- next line is a for loop, print them all out individually-->

<!-- MAKING THE TITLE OF EACH BLOG POST LINKABLE WITH THE A HREF TAG -->
<!-- inside of '' is the name of the url we want to point to (look at the urls file) -->
<!-- need post.pk to know which post was clicked, and this post.pk gets passed to <int:pk> in url code-->

{% block content %}

{% if category_posts %} <!-- aka if it exists -->

    <h1>The {{ cats }} Category</h1>


    <!-- category posts is an object  -->

    <ul>
    {% for post in category_posts %}
    <!-- remember in our home.html file we are basically doing the same thing with all of our posts  -->
        <li> <a href = "{% url 'article-detail' post.pk %}"> {{post.title}}</a> - {{post.author.first_name}} {{post.author.last_name}} 
            <!-- if the user is logged in, we want them to be able to edit and delete -->
            {% if user.is_authenticated %}
            - <a href = "{% url 'update-post' post.pk %}"><small>[Edit]</small></a> <a href = "{% url 'delete-post' post.pk %}"><small>[Delete]</small></a>
            {% endif %}
            <br>
            {{ post.body }} 
        </li>
    {% endfor %}
    </ul>

{% else %}
<h1>This page does not exist</h1>
{% endif %}


{% endblock %}


