{% extends 'base.html' %}

{% block title %}
My Freaking Awesome Blog Home
{% endblock %}


<!-- object_list is query of all blog posts from the data base -->
<!-- next line is a for loop, print them all out individually-->

<!-- MAKING THE TITLE OF EACH BLOG POST LINKABLE WITH THE A HREF TAG -->
<!-- inside of '' is the name of the url we want to point to (look at the urls file) -->
<!-- need post.pk to know which post was clicked, and this post.pk gets passed to <int:pk> in url code-->

{% block content %}

<h1>Posts</h1>

<ul>
{% for post in object_list %}                       <!-- REMEMBER that the '' word is the name param in urls paths-->
    <li> <a href = "{% url 'article-detail' post.pk %}"> {{post.title}}</a>  - <a href= "{% url 'category' post.category %}" > {{post.category}} </a> - {{post.author.first_name}} {{post.author.last_name}} 
        <!-- if the user is logged in, we want them to be able to edit and delete -->
        {% if user.is_authenticated %}
        - <a href = "{% url 'update-post' post.pk %}"><small>[Edit]</small></a> <a href = "{% url 'delete-post' post.pk %}"><small>[Delete]</small></a>
        <br>
        {% endif %}
    {{ post.body }} </li>
    <!-- slice only displays 200 characters on the homepage  -->
{% endfor %}
</ul>
{% endblock %}


